/**********************Pathologies afficher ****************************/
.result {
  background-color: var(--Background_1);
  width: 85%;
  margin-left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding-top: 5rem;
}

.result a {
  border-radius: 1rem;
  background-color: var(--Background_1);
  text-decoration: none;
  margin: 5px;
  transition: all 0.5s ease-in-out;
  cursor: default;
}

.result a:hover {
  background-color: var(--Background_1);
}

.patho:hover {
  border-top: 3px solid var(--Background_4);
  transition: all 0.5s ease-in-out;
}

.patho {
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;

  box-shadow: 0px 10px 20px 5px var(--Shadow);
  background-color: var(--Background_1);
  border-top: 3px solid var(--Background_2);
  width: 22vw;
  min-height: 100px;
  color: black;
  margin: 15px;
  border-radius: 10px;
  height: 300px;

  padding: 0.2rem;
}

@media (max-width: 633px) {
  .patho {
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;

    box-shadow: 0px 10px 20px 5px var(--Shadow);
    background-color: var(--Background_1);
    border-top: 3px solid var(--Background_2);
    width: 36vw;
    min-height: 100px;
    color: black;
    margin: 15px;
    border-radius: 10px;
    height: 300px;

    padding: 0.2rem;
  }
}
@media (max-width: 425px) {
  .patho {
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;

    box-shadow: 0px 10px 20px 5px var(--Shadow);
    background-color: var(--Background_1);
    border-top: 3px solid var(--Background_2);
    width: 50vw;
    min-height: 100px;
    color: black;
    margin: 15px;
    border-radius: 10px;
    height: 300px;

    padding: 0.2rem;
  }
}

.patho h4 {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  color: var(--Background_2);
  transition: all 0.5s ease-in-out;
}

.patho:hover h4 {
  color: var(--Background_4);
  transition: all 0.5s ease-in-out;
}

.patho p {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  color: var(--Background_4);
}

/**************** Page de pathologie unique ********************/

.single_patho {
  background-color: var(--Background_1);
  width: 100vw;
  padding-top: 5rem;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

.onePatho {
  box-shadow: 0px 10px 20px 5px var(--Shadow);
  background-color: var(--Background_1);
  border-top: 3px solid var(--Background_2);
  width: 80vw;
  color: black;
  margin: 15px;
  border-radius: 10px;
  height: 100vh;
  padding: 0.2rem;
}

.onePatho h4 {
  margin-top: 50px;
  text-align: center;
  font-size: 2.3vw;
  font-weight: bold;
  color: var(--Background_2);
}

.symptome-container {
  margin-top: 20px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.symptome-container p {
  padding: 5px 15px;
  background-color: var(--Background_4);
  opacity: 0.8;
  color: whitesmoke;
  border-radius: 50px;
  font-size: 2vw;
}

.subtitle {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle p {
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
  color: var(--Background_4);
  margin: 0 10px;
}

.subtitle h4 {
  margin-top: 10px;
  text-align: center;
  font-size: 2.3vw;
  font-weight: bold;
  color: var(--Background_2);
}
