*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root{
  --Background_1 : #F6F5F5;
  --Background_2 : #EE6F57;
  --Background_3 : #1F3C88;
  --Background_4 : #070D59;
}

  body{
    font-family: sans-serif;
  }
  nav{
    background: var(--Background_4);
    height: 5rem;
    width: 100%;
    position: fixed;
    border : solid darkblue 2px;
  }
  label.logo{
    color: white;
    font-size: 2rem;
    line-height: 80px;
    padding: 0 1rem;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  nav a.active,a:hover{
    background: var(--Background_3);
    transition: .5s;
  }

  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 3rem;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    nav a:hover,a.active{
      background: none;
      color: #0082e6;
    }
  }


.bibliography{
    display : flex;
    justify-content : center;
    align-items: center;
    margin-top : 10%;
    flex-flow: column wrap;
    background-color: var(--Background_2);
    border-radius: 2rem;
}
.content{
    margin : 10%;
}

.sidebar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow : column wrap;
  height: 100%;
  width: 15%;
  position: fixed;
  background-color: var(--Background_3);
  overflow-x: hidden;
  margin-top: 5rem;
  color: var(--Background_1);

  }

  .sidebar h1{
    font-size: 28px;
    color: white;
    line-height: 70px;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
  }

  .sidebar h3{
    padding: 0.5rem;
  }

  .result{
      background-color: var(--Background_1);
      width: 85%;
      margin-left: 15%;
      display: flex;
      flex-flow: row wrap;
      padding : 1vh;
      padding-top: 5rem;
  }

  .result a {
    transition: ease-in-out 0.3;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
  }
  .result a:hover {
    background-color: rgb(138, 54, 54);
  }

  .patho{
      display : flex;
      align-items: center;
      justify-content: center;
      flex-flow : column wrap;
      background-color: var(--Background_2);
      min-width: 300px;
      min-height: 100px;
      margin: 15px;
      color: black;
      text-decoration: none;
      border-radius: 1rem;
  }
