* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --Background_1: #f6f5f5;
  --Background_2: #ee6f57;
  --Background_3: #1f3c88;
  --Background_4: #070d59;
}

body {
  font-family: sans-serif;
}
nav {
  background: var(--Background_4);
  height: 5rem;
  width: 100%;
  position: fixed;
  border: solid darkblue 2px;
}
label.logo {
  color: white;
  font-size: 2rem;
  line-height: 80px;
  padding: 0 1rem;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav a.active,
a:hover {
  background: var(--Background_3);
  transition: 0.5s;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 3rem;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
}

.bibliography {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  flex-flow: column wrap;
  background-color: var(--Background_2);
  border-radius: 2rem;
}
.content {
  margin: 10%;
}

.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  height: 100%;
  width: 15vw;
  position: fixed;
  background-color: var(--Background_3);
  overflow-x: hidden;
  margin-top: 5rem;
  color: var(--Background_1);
}

.sidebar h1 {
  font-size: 28px;
  color: white;
  line-height: 70px;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}

.sidebar h3 {
  padding: 0.5rem;
}

.result {
  background-color: var(--Background_1);
  width: 85vw;
  margin-left: 15vw;
  display: flex;
  flex-flow: row wrap;
  padding: 1vh;
  padding-top: 5rem;
}

.result a {
  transition: ease-in-out 0.3;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}

.result a:hover {
  background-color: rgb(138, 54, 54);
}

.pathologie-container {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  margin-top: 10rem;
  justify-content: center;
}

.patho {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background-color: var(--Background_2);
  min-width: 300px;
  max-width: 300px;
  min-height: 100px;
  margin: 15px;
  color: black;
  text-decoration: none;
  border-radius: 1rem;
}

.patho h4 {
  text-align: center;
}

/**************************Formulaire de Connexion******************************/
.form-container {
  background: rgb(182, 107, 140);
  background: radial-gradient(
    circle,
    rgba(182, 107, 140, 1) 0%,
    rgba(26, 106, 200, 1) 100%
  );
  width: 50vw;
  height: 45vh;
  border: solid burlywood 2px;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 1em bold;
}

.connexion-form {
  display: grid;
  grid-template-columns: 15vw 10vw 25vw;
}

.connexion-form input {
  grid-column: 2 / -1;
  padding: 5px;
  margin: 10px;
  width: 30vw;
}
.connexion-form label {
  grid-column: 1;
  padding: 5px;
  margin: 10px;
}

.submit-btn {
  grid-column: 2;
  padding: 10px;
  background-color: #0d79ddbd;
  margin: 10px;
  border: solid 2px blue;
  border-radius: 5px;
}
.submit-btn:hover {
  padding: 10px;
  background-color: #0082e6;
  cursor: pointer;
}

.connexion-form p {
  grid-column: 1 / 3;
  grid-row: 4;
  padding: 5px;
  margin: 10px;
}
.connexion-form .signup-link {
  grid-column: 3 / -1;
  grid-row: 4;
  padding: 5px;
  margin: 10px;
}

.signup-link {
  grid-column: 1;
  padding: 10px;
  background-color: #0d79ddbd;
  margin: 10px;
  position: relative;
  width: 10vw;
  height: 2.5em;
  border: solid 2px blue;
  border-radius: 5px;
}
.signup-link a {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**************************Barre de recherche******************************/

.search-form {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  height: 30px;
}

.search-form form {
  text-align: center;
}

.search-form input {
  padding: 7px;
  border: solid 3px var(--Background_3);
  border-radius: 10px;
}

.search-form input[type="search"] {
  width: 50vw;
  margin-right: 1em;
}

.search-form input[type="submit"] {
  width: 20vw;
  font-size: large;
}

.search-form input[type="submit"]:hover {
  width: 20vw;
  cursor: pointer;
  background-color: rgb(39, 89, 197);
  transition: background-color 500ms linear;
}
