* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  color: rgb(82, 82, 82);
}

:root {
  --Background_1: #f6f5f5;
  --Background_2: #ee6f57;
  --Background_3: #1f3c88;
  --Background_4: #070d59;
}

body {
  font-family: sans-serif;
}
nav {
  background: var(--Background_4);
  height: 5rem;
  width: 100%;
  position: fixed;
  border: solid darkblue 2px;
}
label.logo {
  color: white;
  font-size: 2rem;
  line-height: 80px;
  padding: 0 1rem;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav a.active,
a:hover {
  background: var(--Background_3);
  transition: 0.5s;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 3rem;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
}

.bibliography {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  flex-flow: column wrap;
  background-color: var(--Background_2);
  border-radius: 2rem;
}
.content {
  margin: 10%;
}

.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  height: 100%;
  width: 15vw;
  position: fixed;
  background-color: var(--Background_3);
  overflow-x: hidden;
  margin-top: 5rem;
  color: var(--Background_1);
}

.sidebar h1 {
  font-size: 28px;
  color: white;
  line-height: 70px;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}

.sidebar h3 {
  padding: 0.5rem;
}

.result {
  background-color: var(--Background_1);
  width: 85vw;
  margin-left: 15vw;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 1vh;
  padding-top: 5rem;
}

.result a,
.pathologie-container a {
  transition: ease-in-out 0.3;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}

.result a:hover,
.pathologie-container a:hover {
  background-color: rgb(138, 54, 54);
}

.pathologie-container {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
}

.patho {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background-color: var(--Background_2);
  min-width: 300px;
  max-width: 300px;
  min-height: 100px;
  margin: 15px;
  color: black;
  text-decoration: none;
  border-radius: 1rem;
}

.patho h4 {
  text-align: center;
}

/**************************Formulaire de Connexion******************************/
#connection-form {
  width: 50%;
  min-width: 380px;
  max-width: 600px;
  background: white;
  display: grid;
  grid-template-rows: repeat(4, 104px);
  padding: 60px 45px 30px;
  border-radius: 16px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #16d9e7;
  margin-top : 3rem;
}

#connection-form div {
  transition: 0.2s;
}
#connection-form div > label {
  letter-spacing: 1px;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  margin: 7px 0 7px;
  border: 1px solid transparent;
  background: rgb(235, 244, 242);
  height: 36px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  font-size: 1.1rem;
  padding-left: 10px;
  transition: 0.2s;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  border: 1px solid #5ef9a4;
}

#connection-form > input[type="submit"] {
  border: none;
  background: linear-gradient(65deg, #16d9e7, #5ef9a4);
  width: 50%;
  margin: 12px auto 0;
  padding: 10px;
  border-radius: 150px;
  font-size: 1.2rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
}
#connection-form > input[type="submit"]:hover {
  filter: brightness(105%);
  transform: translateX(2px);
}

.login-container,
.signup-container {
  letter-spacing: 1px;
  margin-top : 50px;
}

.error-container {
  opacity: 0.6;
  color: red;
  border : solid 1px red;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/**************************Barre de recherche******************************/

.search-form {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  height: 30px;
}

.search-form form {
  text-align: center;
}

.search-form input {
  padding: 7px;
  border: solid 3px var(--Background_3);
  border-radius: 10px;
}

.search-form input[type="search"] {
  width: 50vw;
  margin-right: 1em;
}

.search-form input[type="submit"] {
  width: 20vw;
  font-size: large;
}

.search-form input[type="submit"]:hover {
  width: 20vw;
  cursor: pointer;
  background-color: rgb(39, 89, 197);
  transition: background-color 500ms linear;
}
