:root {
    --Background_1: #f6f5f5;
    --Background_2: #ee6f57;
    --Background_3: #1f3c88;
    --Background_4: #081191;
    --Shadow : #E0E0E0;
  }

* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }